h1 {
    color: brown;
    margin: 30px;
}

 /* .header * {
    border: solid;
} */

 .header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

 .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

 p, h2 {
    text-align: center;
}

 .footer {
    display: flex;
    justify-content: flex;
    left: 100; 
    position: fixed;
    bottom: 0;
    width: 100%;
}

 body {
    background-color: #808080;
}

 a:link {
    color: white
}

 a:visited {
    color: goldenrod
 }

 .menu {
    margin-right: 30px;
 }

 .menu a{
    margin-right: 20px;
 }

 .item {
    position: relative
 }

 .item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0

 }

 .item:hover p{
    opacity:1
 }

 .item:hover img{
    opacity: 0.33
 }

 .imgclass {
    height:275px;
    width:275px
 }